WATHIQ_ARASEG_SERVICE_NAME=wathiq-araseg-service
WATHIQ_ARASEG_SERVICE_VERSION=0.1.0
WATHIQ_ARASEG_ENVIRONMENT=development
WATHIQ_ARASEG_HOST=127.0.0.1
WATHIQ_ARASEG_PORT=8000
WATHIQ_ARASEG_LOG_LEVEL=INFO
WATHIQ_ARASEG_INFERENCE_DEVICE=cpu
